{% extends 'base.html' %}
{% block title %}CODEVISION | Homepage{% endblock title %}
{% block homeActive %} active {% endblock homeActive %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock style %}
{% block body %}
{% comment %} About us Html goes here {% endcomment %}
<div class="landing-image-sec">
    <h1>CODEVISION BLOGPAGE</h1>
    <h2 class="landing-h2">A step by CODEVISION for readers.</h2>
    <div class="soc-media">
    <a href="#" class="soc-box">
        <i class="fa fa-facebook"></i>
        <span>facebook</span>
    </a>
    <a href="#" class="soc-box">
        <i class="fa fa-twitter"></i>
        <span>twitter</span>
    </a>
    <a href="#" class="soc-box">
        <i class="fa fa-instagram"></i>
        <span>instagram</span>
    </a>
    </div>
     {% if user.is_authenticated %}
     {% else %}
     <h2 class="tell-to-register">You Need To Register To Read The Blogs.</h2>
     {% endif %}
</div>


{% endblock body %}
